<!DOCTYPE html>
<html lang="en">
<head>
<!--     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {% block head %}
        <meta charset='utf-8'>
	<meta description='A fun photo album for you and your friends.' >
    	<title>{% block title %}{% endblock %} - Words&Shit</title>
    {% endblock %}
</head>
<body style=>
     <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Words&Shit</a>
            </div>
        <div>
            <ul class="nav navbar-nav">
<!--                 <li><a href="/">Home</a></li>
 -->                <li><a href="/words">Words</a></li>
            </ul>
        </div>
     </div>
</nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                <ul class=flashes>
            {% for message in messages %}
            <div class="alert alert-danger">
                <li>{{ message }}</li>
            </div>
            {% endfor %}
                </ul>
        {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="footer">
        <div class="container">
            {% block footer %}
            &copy; Copyright 2016: <a href="#">Amaraj Judge</a>.
            {% endblock %}
        </div>
    </footer>
    {% block extrascripts %} <!-- This is where we'll load inline scripts specific for a given template -->
    {% endblock %}
</body>
</html>
